<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../styles/main.scss">
    <title>Web-chat</title>
</head>

<body>
    <main>
        {{> error/errorContainer errorCode="500" errorText="Мы уже фиксим"}}
    </main>
</body>

</html>