@import '../../utils/vars';
@import './authInput';
@import './submitBtn';

.login-form {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    padding: 30px;
    box-shadow: $shadow;
    border-radius: 12px;
    width: 340px;
    align-self: center;
    margin: 0 auto;

    &__error {
        font-size: $text-small;
        margin-bottom: 15px;
        color: $red;
    }

    h3 {
        margin-bottom: 40px;
    }

    .buttton-submit {
        margin-top: 170px;
    }

    .link-button {
        color: $dark-blue;
        margin-top: 15px;
        font-size: $text-small;
    }

    .input-error {
        .login-form {
            &__input {
                border-bottom: 1px solid $red;
            }
        }

        .error-message {
            bottom: 55px !important;
            text-align: left;
        }
    }

}
