@import '../../utils/vars';

.chat-sidebar {
    &__searchbar {
        border: none;
        box-sizing: border-box;
        background-color: $light-grey;
        width: 100%;
        padding: 10px 5px;
        border-radius: 5px;
        font-size: $text-medium;
        color: $black;
        margin-top: 25px;
        margin-bottom: 14px;

        &::placeholder {
            text-align: center;
        }
    }
}
