@import '../../utils/vars';
@import './searchbar';
@import './user';

.chat-sidebar {
    text-align: end;
    flex: 0 0 310px;
    border-right: $border;
    height: calc(100vh - 20px);
    background-color: $grey;
    padding-top: 20px;
    overflow-y: auto;

    &__warp {
        padding: 0 10px;
        margin-bottom: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__profile-link {
        color: $text-grey;
        font-size: $text-medium;
    }
}
