<div class="profile-page__avatar" data-edit={{ edit }}>
    <img 
        {{#if img}}
            src={{ img }}
        {{else}}
            style="width: 50%;"
            src="../../images/no-image.svg"
        {{/if}}
        alt="avatar"
    >
        
</div>