<section class="profile-page">
    {{> profile/link-back}}
    <div class="profile-page__wrap">
        {{> profile/avatar edit="false"}}
        <form class="profile-page__info-wrap">
            {{#each info}}
                {{> profile/profileInput data=this}}
            {{/each}}
            {{> submit text="Сохранить"}}
        </form>
    </div>
</section>