@import './textarea.scss';

.chat-section__form {
    display: flex;
    flex-flow: row nowrap;
    border-top: $border;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    .chat-attachments {
        flex: 0 1 28px;
        cursor: pointer;
        filter: grayscale(1);
        transition: filter 0.2s;

        &:hover {
            filter: grayscale(0);
        }
    }

    .chat-textarea {
        background-color: $light-grey;
        border-radius: 30px;
        flex: 0 1 100%;
        margin: 0 10px;
        text-align: start;
        height: 24px;
        padding: 8px 10px 0;

        &::placeholder {
            text-align: left;
        }
    }

    .chat-send-message {
        width: 28px;
        height: 28px;
        flex: 0 1 28px;
        border-radius: 50%;
        background-color: $dark-blue;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: pointer;

        img {
            filter: invert(1);
            width: 20px;
        }
    }

}