@import './chatHeader.scss';
@import './chatWindow.scss';
@import './chatFooter.scss';

.chat-section {
    max-height: 100vh;
    flex: 0 1 100%;
    padding: 0 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}