@import '../utils/vars';

.input-error {
    color: $red;
}

.input {
    position: relative;
    display: block;

    .error-message {
        position: absolute;
        bottom: -8px;
        left: 0;
        font-size: $text-xs;
        font-weight: $bold;
    }
}
