<section class="chat-section">
    {{> chat/chatHeader name="Иван" img="https://imageio.forbes.com/specials-images/imageserve/5f64397931669e167fc57eaf/0x0.jpg?format=jpg&width=1200"}}
    {{> chat/chatWindow}}
    {{> chat/chatForm}}
</section>
