<header class="chat-section__header">
    <div class="chat-section__header__user">
        <img src={{ img }}>
        <span>{{ name }}</span>
    </div>
    <div class="chat-section__header__options">
        <span class="chat-section__header__options-dot"></span>
        <span class="chat-section__header__options-dot"></span>
        <span class="chat-section__header__options-dot"></span>
        {{> chat/options-dropdown show="true"}}
    </div>
</header>