{{#extend "dropdown" show="true"}}
    {{#content "main"}}
        <div>Добавить пользователя</div>
        <div>Удалить пользователя</div>
        <div class="options-dropdown__delete">Удалить чат</div>
    {{/content}}
{{/extend}}
