.profile-page__avatar {
    background-color: $light-grey;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    &[data-edit="true"] {
        position: relative;
        cursor: pointer;
        &:hover {
            &::before {
                position: absolute;
                content: "";
                background-color: #000000;
                opacity: 0.5;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
            &::after {
                color: #fff;
                position: absolute;
                text-align: center;
                content: "Поменять аватар";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    img {
        width: 100%;
    }
}