@import '../../utils/vars';

.profile-page {
    &__back-link {
        border-right: $border;
        width: 100%;
        background-color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 64px;
        height: 100%;
        z-index: 1;
        transition: $bg-transition;

        img {
            width: 28px;
            transform: rotate(180deg);
            border-radius: 50%;
            background-color: $invert-dark-blue;
            filter: invert(1);

        }

        &:hover {
            background-color: $transition-grey;
        }
    }
}
