@import './utils/normalize';
@import './utils/fonts';
@import './partials/sidebar/sidebar';
@import './partials/chat/chat';
@import './partials/auth/authForm';
@import './partials/profile/profile';
@import './partials/error/errorContainer';
@import './partials/input';
@import './partials/link';

body {
    margin: 0;
    box-sizing: border-box;
    font-family: $font-inter;

    main {
        display: flex;
        flex-flow: row nowrap;
        height: 100vh;
    }
}
