@import './utils/normalize.scss';

@import 'partials/sidebar.scss';
@import './partials/chat.scss';

body {
    margin: 0;
    box-sizing: border-box;

    main {
        display: flex;
        flex-flow: row nowrap;
    }
}