textarea,
input {
    border: none;
    resize: none;

    &:focus {
        outline: none;
    }

    &::placeholder {
        text-align: center;
    }
}

a {
    text-decoration: none;

    &:active {
        color: none;
    }
}

button {
    border: none;

    &:hover {
        color: none;
    }
}