// COLORS
$grey: #FBFBFB;
$light-grey: #EFEFEF;
$text-grey: #999999;
$black: #1E1E1E;
$dark-blue: #3369F3;
$red: #FF0000;
$light-blue: #E4EDFD;
$hover-color: #F5F5F5;
$message-bg: #F8F8F8;
// SIZE
$text-xxxl: 40px;
$text-xxl: 20px;
$text-xl: 16px;
$text-big: 13px;
$text-medium: 12px;
$text-small: 11px;
$text-xs: 9px;
$bold: 500;
// BORDER
$border: 1px solid #EAEAEA;
$input-border: 1px solid $dark-blue;
// TRANSITION
$bg-transition: background-color 0.2s;
$filter-transition: filter 0.2s;
$color-transition: color 0.2s;
// SHADOW
$shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);