// COLORS
$grey: #FBFBFB;
$transition-grey: #e6e3e3;
$light-grey: #EFEFEF;
$text-grey: #999;
$black: #1E1E1E;
$dark-blue: #3369F3;
$red: #F00;
$light-blue: #E4EDFD;
$hover-color: #F5F5F5;
$message-bg: #F8F8F8;
$invert-dark-blue: #c59500;
$green: #07ae07;

// SIZE
$text-xxxl: 40px;
$text-xxl: 20px;
$text-xl: 16px;
$text-big: 13px;
$text-medium: 12px;
$text-small: 11px;
$text-xs: 9px;
$bold: 500;

// BORDER
$border: 1px solid #EAEAEA;
$input-border: 1px solid $dark-blue;

// TRANSITION
$bg-transition: background-color 0.2s;
$filter-transition: filter 0.2s;
$color-transition: color 0.2s;
$modal-bg: rgba(0 0 0 / 40%);

// SHADOW
/* stylelint-disable color-function-notation */
$shadow: 0 0 6px rgba(0, 0, 0, 14%);
