@import '../../utils/vars';

/* stylelint-disable no-descending-specificity */
.chat-section {
    &__chat-window {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
        padding: 30px 0;
        overflow-y: auto;

        &__date {
            color: $text-grey;
            padding: 30px 0;
            text-align: center;
            font-size: $text-medium;
        }

        .chat-window {
            &__messgae {
                box-sizing: border-box;
                width: fit-content;
                position: relative;
                background-color: $message-bg;
                border-radius: 0 12px 12px;
                font-size: $text-medium;
                color: $black;
                padding: 10px;
                margin-bottom: 10px;
                max-width: 400px;

                &[dir="right"] {
                    border-radius: 12px 0 12px 12px;
                    background-color: $light-blue;
                    align-self: flex-end;
                    padding-right: 65px;

                    .chat-window {
                        &__messgae {
                            &-info {
                                color: $dark-blue;
                            }
                        }
                    }
                }

                &[data-img="true"] {
                    background-color: #fff;
                    padding: 0;

                    /* stylelint-disable color-function-notation */
                    .chat-window {
                        &__messgae {
                            &-info {
                                border-radius: 30px;
                                background-color: rgba(82, 82, 82, 50%);
                                color: #fff;
                                padding: 2px 7px;
                            }
                        }
                    }
                }

                img {
                    object-fit: cover;
                    max-width: 400px;
                    border-radius: 12px;
                    border: $border;
                }

                &-info {
                    position: absolute;
                    font-size: $text-xs;
                    color: $text-grey;
                    line-height: 10px;
                    right: 10px;
                    bottom: 10px;

                    &__mark {
                        position: relative;
                        display: inline-block;
                        width: 10px;
                        height: 5px;

                        &::before {
                            content: "";
                            width: 5px;
                            height: 1px;
                            bottom: 3px;
                            left: 0;
                            background-color: $dark-blue;
                            position: absolute;
                            transform: translateX(5px)rotate(-45deg);
                        }

                        &::after {
                            content: "";
                            width: 1px;
                            height: 3px;
                            bottom: 1px;
                            background-color: $dark-blue;
                            position: absolute;
                            transform: translateX(4.5px)rotate(-45deg);
                        }

                        &-read {
                            position: absolute;
                            width: 5px;
                            height: 1px;
                            bottom: 2.5px;
                            left: 1.5px;
                            background-color: $dark-blue;
                            transform: translateX(5px)rotate(-45deg);
                        }
                    }
                }

            }
        }
    }
}
