@import '../../utils/vars.scss';

.options-dropdown {
    position: absolute;
    box-shadow: $shadow;
    border-radius: 12px;
    background-color: #fff;
    z-index: 1000;
    padding: 25px;
    font-size: $text-medium;
    color: $black;
    
    &[data-show="true"] {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &[data-show="false"] {
        display: none;
    }

    div {
        white-space: nowrap;
        cursor: pointer;
        transition: $color-transition;
        &:hover {
            color: $dark-blue;
        }
    }
    &__delete {
        color: $red;
    }
}
