<form class="login-form">
    <h3>Вход</h3>
    {{> auth/authInput name="login" type="text" placeholder="Логин"}}
    {{> auth/authInput name="password" type="password" placeholder="Пароль"}}
    {{!-- {{> submit text="Войти"}} --}}
    <a class="buttton-submit" href="./chat.hbs">Войти</a>
    <a href="./registration.hbs">Нет аккаунта?</a>
</form>