<form class="login-form">
    <h3>Регистрация</h3>
    {{> auth/authInput name="email" type="text" placeholder="Почта" required="required"}}
    {{> auth/authInput name="login" type="text" placeholder="Логин" required="required"}}
    {{> auth/authInput name="first_name" type="text" placeholder="Имя" required="required"}}
    {{> auth/authInput name="second_name" type="text" placeholder="Фамилия" required="required"}}
    {{> auth/authInput name="phone" type="text" placeholder="Телефон" required="required"}}
    {{> auth/authInput name="password" type="password" placeholder="Пароль" required="required"}}
    {{> auth/authInput name="password" type="password" placeholder="Пароль_(Еще_раз)" required="required"}}
    {{> submit text="Зарегистрироваться"}}
    <a href="./index.hbs">Войти</a>
</form>