<section class="chat-section__chat-window">
    {{#each messages}}
    <div class="chat-section__chat-window__date">
        {{ this.data.date }}
    </div>
    {{#each this.data.messages}}
    {{> message data=this}}
    {{/each}}
    {{/each}}
</section>