<aside class="chat-sidebar">
    <div class="chat-sidebar__warp">
        <a class="chat-sidebar__profile-link" href="">Профиль ></a>
        {{> searchbar}}
    </div>
    {{#each chats}}
    {{> user data=this }}
    {{/each}}

</aside>