<main>
    <section class="error-container">
        <div class="error-container__wrap">
            <span class="error-container__wrap-code">{{errorCode}}</span>
            <span class="error-container__wrap-text">{{errorText}}</span>
        </div>
        {{{link}}}
    </section>
</main>
